---
import data from "../data.json";
import AppCard from "../components/AppCard.astro";
import "../styles.css";
export function getStaticPaths() {
  return data.map((product) => {
    return {
      params: { product: product.name.toLowerCase().split(" ").join("-") },
      props: { product },
    };
  });
}
const { product } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>App Directory</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.forge.tylertech.com/v1/css/tyler-font.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.forge.tylertech.com/v1/libs/@tylertech/forge@2.11.0/forge-core.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.forge.tylertech.com/v1/libs/@tylertech/forge@2.11.0/theme/forge-theme.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.forge.tylertech.com/v1/libs/@tylertech/forge@2.11.0/typography/forge-typography.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.forge.tylertech.com/v1/css/tyler-icons-standard.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tylertech/forge@2.11.0/dist/forge.css"
    />
  </head>

  <body class="forge-typography">
    <forge-scaffold class="scaffold-example">
      <forge-app-bar title-text="App Directory | Tylertown, ME" slot="header">
      </forge-app-bar>
      <div slot="body">
        <main>
          <h1>Welcome to the page for {product.name}!</h1>
          {
            product.apps.map((app) => (
              <AppCard name={app.name} description={app.description} />
            ))
          }
        </main>

        <script
          type="module"
          src="https://cdn.jsdelivr.net/npm/@tylertech/forge@2.11.0/dist/esm/index.js"
        ></script>
      </div>
    </forge-scaffold>
  </body>
</html>
