---
import ProductCard from "../../src/components/ProductCard.astro";
import data from "../data.json";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <main>
    <h1>App Cards v. Product Cards</h1>

    {
      data.map((product) => (
        <ul class="product-ul">
          <li>
            <span class="product-name">{product.name}</span>
            <ul>
              {product.apps.map((app) => (
                <li>{app.name}</li>
              ))}
            </ul>
          </li>
        </ul>
      ))
    }
  </main>
</SiteLayout>
<style>
  main {
  }
  ul {
    list-style: none;

    padding: 0px;
  }
  ul > li {
    margin: 4px;
  }
  .product-ul {
    margin: 20px;
  }
  .product-name {
    font-weight: 500;
  }
</style>
