---
import { db, Products } from "astro:db";
import LandingLayout from "../layouts/LandingLayout.astro";
const products = await db.select().from(Products);
import LayoutSwitcher from "../components/LayoutSwitcher.astro";
---

<LandingLayout>
  <main>
    <h1>App Cards v. Product Cards</h1>
    <LayoutSwitcher />
    <ul class="product-ul">
      {
        products.map(({ name }) => (
          <li>
            <span class="product-name">{name}</span>
          </li>
        ))
      }
    </ul>
  </main>
</LandingLayout>
<style>
  main {
    margin: 20px;
  }
  ul {
    list-style: none;

    padding: 0px;
  }
  ul > li {
    margin: 4px;
  }
  .product-ul {
    margin: 20px;
  }
  .product-name {
    font-weight: 500;
  }
</style>
