---
import ProductCard from "../../src/components/ProductCard.astro";
import data from "../data.json";
import SiteLayout from "../layouts/SiteLayout.astro";
import SearchBar from "../components/SearchBar.astro";
---

<SiteLayout>
  <SearchBar slot="search-bar" />
  <main>
    <h1>App Cards v. Product Cards</h1>
  </main>
</SiteLayout>
<style>
  main {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
</style>
