---
import { db, Products } from "astro:db";
import SiteLayout from "../layouts/SiteLayout.astro";
const products = await db.select.from(Products);
---

<SiteLayout>
  <main>
    <h1>App Cards v. Product Cards</h1>

    {
      products.map((product) => (
        <ul class="product-ul">
          <li>
            <span class="product-name">{product.name}</span>
          </li>
        </ul>
      ))
    }
  </main>
</SiteLayout>
<style>
  main {
  }
  ul {
    list-style: none;

    padding: 0px;
  }
  ul > li {
    margin: 4px;
  }
  .product-ul {
    margin: 20px;
  }
  .product-name {
    font-weight: 500;
  }
</style>
