---
const { name, description } = Astro.props;
---

<forge-card
  outlined
  style="cursor: pointer; position: relative; width: 100%"
  id="app-card"
>
  <div class="app__icon-row">
    <div class="forge-typography--body1" id="app-name-label">{name}</div>
    <div style="display: flex; align-items: center">
      <forge-badge
        theme="info-primary"
        id="admin-app-badge"
        class="hide"
        style="margin-right: 32px">Admin app</forge-badge
      >
    </div>
  </div>
  <div class="app__body">
    <p class="forge-typography--caption" id="app-description-label">
      {description}
    </p>
    <div class="app__features" id="preview-features"></div>
  </div>
  <forge-menu id="app-menu" style="position: absolute; right: -4px; top: -4px">
    <forge-icon-button dense style="margin: 12px 12px">
      <button type="button" aria-label="View user profile">
        <forge-icon name="more_vert" external></forge-icon>
      </button>
    </forge-icon-button>
  </forge-menu>
  <forge-ripple></forge-ripple>
</forge-card>
