---
import LayoutSwitcher from "./LayoutSwitcher.astro";
import data from "../data.json";
---

<div class="filter">
  <p>Search for products and apps</p>
  <input type="text" name="search" id="" />
  <p><input type="checkbox" /> Admin</p>
  <p><input type="checkbox" /> Favorites</p>
  <div>
    <h3>Products</h3>
    {
      data.map((product) => (
        <p>
          <input type="checkbox" /> {product.name}{" "}
        </p>
      ))
    }
  </div>
  <LayoutSwitcher />
</div>
<style>
  .filter {
    height: 800px;
    border: 1px solid #777;
    background-color: rgba(172, 172, 172, 0.7);
    border-radius: 4px;
    display: grid;
    align-content: start;
    gap: 12px;
    padding: 20px;
  }
</style>
