---
import SearchBar from "../../components/SearchBar.astro";
import AppCard from "../../components/AppCard.astro";
import data from "../../data.json";
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout>
  <SearchBar slot="search-bar" />
  <div class="app-cards-main">
    {data.map((product) => <AppCard product={product} />)}
  </div>
</SiteLayout>
<style>
  .app-cards-main {
    justify-content: center;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1250px;
    width: 100%;
  }
</style>
