* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body::before {
  content: '';
  background: url('https://www.itl.cat/pngfile/big/212-2125505_3840-x-material-design-light-gray.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  opacity: 1;
  background-blend-mode: lighten;
}

a {
  color: #333;
}





.product-name-container {
  display: flex;
  align-items: center;
  gap: 16px;
}





.stacked-card {
  
  --forge-card-padding: 0;
   
}



p {
  margin: 0;
  padding: 0;
}

forge-toolbar::part(root) {
  border: none;
}
